# Dependencies
node_modules/

# Expo
.expo/
dist/
expo-env.d.ts

# Native builds
ios/Pods/
ios/Podfile.lock
ios/build/
android/build/
android/.gradle/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Env files
.env
.env.local

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Testing
coverage/

# TypeScript
*.tsbuildinfo